---
---

@import "minima";

p, ol, ul {
    text-align:justify;
    hyphens: auto;
}

h1 a.title-link {
    color: #000;
    text-decoration: none;
}

.PageNavigation {
    font-size: $base-font-size;
    display: flex;
    justify-content: space-between;
  }
  
  .PageNavigation .prev {
    align-self: flex-start;
    text-align: left;
  }
  
  .PageNavigation .next {
    align-self: flex-end;
    text-align: right;
  }
